{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	{# <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> #}
	<main>
		<div class="container-fluid px-4">
			<a href="{{ path('reservation_add') }}" class="btn btn-primary">Ajouter</a>
			<!-- Data Table -->
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					Réservations
				</div>
				<div class="card-body">
					<table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th scope="col">Nom</th>
								<th scope="col">Prénom</th>
								<th scope="col">Places</th>
								<th scope="col">Date</th>
								<th scope="col">Heure</th>
								<th scope="col">Artiste</th>
							</tr>
						</thead>
						<tbody>

							{% for resa in reservations %}
								{# <tr class="table-{{ resa.concert.artist.category.color}}"></tr> #}
								<tr>
									<td>{{ resa.nom }}</td>
									<td>{{ resa.prenom }}</td>
									<td>{{ resa.places }}</td>
									<td>{{ resa.concert.dateconcert | date("d/m/Y") }}</td>
									<td>{{ resa.concert.heuredebut | date("H") }}
										h-
										{{ resa.concert.heurefin | date("H") }}
										h</td>
									<td>{{ resa.concert.artist.name }}</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</main>
{% endblock %}
