{% extends 'base.html.twig' %}

{% block title %}
	Agenda
{% endblock %}

{% block body %}
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Heure</th>
					<th scope="col">Artiste</th>
				</tr>
			</thead>

			<tbody>

				{% for ligne in agenda %}
					<tr>
						<td>{{ ligne.dateconcert | date("d/m/Y") }}</td>
						<td>{{ ligne.HeureDebut | date("H") }}
							h-
							{{ ligne.HeureFin | date("H") }}
							h</td>
						<td>{{ ligne.artist.name }}</td>
						<td>
							<a href="{{ path('reservation', {id: ligne.id}) }}">
								<button type="button" class="btn btn-class btn-outline-{{ ligne.artist.category.color }}">Réserver</button>
							</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}
