{% extends 'base.html.twig' %}

{% block title %}
	Artistes
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

	{# Categorie #}
	<div class="container my-5">
		<div class="d-flex justify-content-center align-items-center">

			{% for categorie in categories %}

				<button type="button" class="btn btn-outline-{{ categorie.color }}">
					<a href="{{ path('artistes', {id: categorie.id}) }}">{{ categorie.name }}</a>
				</button>

			{% endfor %}

		</div>
	</div>

	{# Artistes #}
	<div class="row">

		{% for artiste in artistes %}

			<div
				class="col-4">

				{# <div class="card border-success mb-3"> #}
				<div class="card border-{{ artiste.category ? artiste.category.color : 'dark' }} mb-3">

					<div class="card-header text-end">
						<span class="badge rounded-pill bg-{{ artiste.concert ? 'secondary' : 'primary' }}">
							<small>{{ artiste.concert ? 'En concert' : 'Spectacle de rue' }}</small>
						</span>
					</div>
					<div class="card-header">Artiste :
						{{ artiste.name }}
					</div>
					<div
						class="card-body">
						{# <p class="card-text">{{ artiste.description | u.truncate(150, '...') }}</p> #}
						<p class="card-text">{{ artiste.description | slice(1, 150) }}
							'...'
						</p>
						<a href="{{ path('ficheartiste', {id: artiste.id}) }}" class="card-link">Découvrir l'artiste</a>

					</div>
				</div>
			</div>

		{% endfor %}

	</div>

{% endblock %}
