{% extends 'base.html.twig' %}

{% block title %}
	Artistes
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('assets/css/artiste.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{# Categorie #}
	<div class="container my-5">
		<div class="d-flex justify-content-center align-items-center">

			{% for categorie in categories %}

				<button type="button" class="btn btn-outline-{{ categorie.color }}">
					<a href="{{ path('categorie', {id: categorie.id}) }}">{{ categorie.name }}</a>
				</button>

			{% endfor %}

		</div>
	</div>

	{# Artistes #}
	<div class="row">

		{% for artiste in artistes %}

			<div class="col-4">

				<div class="card border-danger mb-3">

					<div class="card-header">
						<span class="badge rounded-pill bg-{{ artiste.concert ? 'secondary' : 'primary' }}">
							<small>{{ artiste.concert ? 'En concert' : 'Spectacle de rue' }}</small>
						</span>
					</div>
					<div class="card-header">Artiste N° :
						{{ artiste.id }}
						-
						{{ artiste.name }}

					</div>
					<div class="card-body">
						<p class="card-text">{{ artiste.description | u.truncate(150, '...') }}</p>
						<a href="#" class="card-link">Découvrir l'artiste</a>

					</div>
				</div>
			</div>

		{% endfor %}

	</div>

{% endblock %}
